
# autoreconf --install
*.in
*.in~
install-sh
compile
configure
*.m4
*.cache
depcomp
missing
ar-lib
ltmain.sh

# configure
Makefile
config.h
config.log
config.status
config.guess
config.sub
.deps/
stamp-h1

# make
*.o
dspc-hello
!dspc-hello/
*.exe
build

# make distcheck
*.tar.gz
